
/* body */
body{
  display: flex;
  flex-direction: column;
}

/* above nav section */

section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

section .nav-part div a{
  padding-left: 0px;
  list-style: none;
  text-decoration: none;
  margin: 7px;
  font-size: 0.9rem;
}

.material-icons{
  font-size: 1.5rem !important;
}

section .nav-part div{
  display: inline-block;
}


section .gmail a{
  font-size: 0.8rem;
  color: rgba(0,0,0,0.87);
  /* font-family: Arial, Helvetica, sans-serif; */
  font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
  font-weight: 400;
}


section .gmail a:hover{
  text-decoration: underline;
  text-decoration-color: black;
}

section div a span{
  position: relative;
  top: 8px;
  left: 7px;
  color: #5f6368;
}

.background-account{ 
  position: relative;
  top: 10px;
  left: 6px;
  color: white;
  background-color: #7b1fa2;
  border-radius: 50%;
  /* height: 32px;
  width: 32px; */
  height: 2rem;
  width: 2rem;
  z-index: 0;
}

.P-details{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  color: white;
  z-index: 1;
  left: -30%;
  padding: 1px;
  font-weight: 500;
  font-size: 1rem;
}

section span:hover{
  border:1px solid #dadce0;
  border-radius: 50%;
  /* box-shadow: 1px 1px 0px 7px rgba(230, 196, 196, 0.431); */
  background-color: rgba(230, 196, 196, 0.431);
  
}

/* google logo section */
.logo {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

img {
 
  height: 20%;
  width: 24%;
}

/* search bar section */
.search-bar-details{
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}

.search-bar-details .area-search {
  display: flex;
  flex-direction: row;
  height: 2.8rem;
  width: 36rem;
  border-radius: 20px;
  border: 1px solid rgb(224, 221, 221);
  justify-content: space-between;
}

.search-button{
  color:#bfc3c8 ;
  padding: 11px;
  font-size: 1.5rem
  !important; 
}

.mic-properties{
  color:#bfc3c8 ;
  padding: 11px;
  justify-content: end;
  font-size: 1.5rem
  !important; 
}

.area-search:hover{
  border:1px solid #dadce0;
  box-shadow: 1px 1px 3px 2px rgba(230, 196, 196, 0.431);
}


/* search button */
.important-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
}

.bg-buttons{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 0.9rem;
    margin: 11px 4px;
    padding: 4px 16px;
    line-height: 27px;
}

.bg-buttons:hover{
  border:1px solid #dadce0;
  box-shadow: 0px 1px 3px 1px rgba(230, 196, 196, 0.431);
}

/* languages part */
.diff-languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5%;
}

.diff-languages-sub{
  display: flex;
  justify-content: space-between;
  font-size: 0.82rem;
}

.diff-languages-sub div{
  margin-left: 10px;
}

.diff-languages a{
    color: #1a0dab;
    text-decoration: none;
}

#text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.87);;
}

.diff-languages a:hover{
  text-decoration: underline;
  text-decoration-color: #1a0dab;

}

/* footer section */
.footer-details{
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  left: 0;
  right: 0;
}

.country{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 0.9rem;
    color: rgba(0,0,0,.54);
}

.lowest-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 1%;
}

.lowest-footer-one{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.lowest-footer-one a{
  text-decoration: none;
  color: rgba(0,0,0,.54);
  margin-left: 16px;
  padding:8px ;
}

.part-1-footer{
  margin-left: 1%;
}

.part-2-footer{
  margin-right: 2%;
}

.lowest-footer-one a:hover{
  text-decoration: underline;
  text-decoration-color: rgba(0,0,0,.54);

}

/* Media queries */

@media screen and (max-width:1024px){
  .overall-google{
    margin-top: 20%;
  }

  html{
    font-size: 12px;
  }
}

@media screen and (max-width:785px){
  .overall-google{
    margin-top: 20%;
  }

  html{
    font-size: 10px;
  }

  .search-button{
    padding: 7px;
  }

  section{
    position: relative;
    top: -7px;
  }
  
}

@media screen and (max-width:572px){
  .overall-google{
    margin-top: 11%;
  }

  html{
    font-size: 8px;
  }

  .search-button{
    padding: 7px;
  }

  section{
    position: relative;
    top: -7px;
  }

  .mic-properties{
    padding: 7px;
  }

  img {
 
    height: 20%;
    width: 26%;
  }

  .background-account{
    top: 5px;
    left: 0px;
  }

  section div a span{
    top: 3px;
    left: 1px;
  }
  .bg-buttons{
    font-size: 0.8rem;
    line-height: 15px;
  }
  
}

@media screen and (max-width:375px){
  .overall-google{
    margin-top: 11%;
  }

  html{
    font-size: 7px;
  }

  .search-button{
    padding: 7px;
  }

  section{
    position: relative;
    top: -7px;
  }

  .mic-properties{
    padding: 7px;
  }

  img{
    font-size: 1rem;
  }
  
}

